/* overlay/popup */

.drivesave-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.drivesave-popup {
  display: none;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: #fff;
  padding: 20px;
}
.drivesave-popup.tcenter {
  text-align: center;
}

.drivesave-popup .ico-close {
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
}
.drivesave-popup #fname {
  width: 210px;
}
.drivesave-popup textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  font-size: 11px;
}

/* window locker */

.drivesave-locked {
  overflow: hidden;
}
.drivesave-locked:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  cursor: wait;
}
.drivesave-locked[lockmsg]:after {
  content: attr(lockmsg);
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1001;
  width: 400px;
  margin-left: -210px;
  background: #fff;
  padding: 10px;
  border-radius: 0 0 6px 6px;
  text-align: center;
}

/* real world bugs fixing */

#wrapDrive,
.file-is-not-created {
  display: none;
}
.picker-dialog-content {
  position: relative;
}
